html {
	width: 100%;
}

body {
	margin: 0;
	background: #F1F0F0;
	font-family: helvetica, sans-serif;
}

.wrapper {
   max-width:1000px;
   margin-right:auto;
   margin-left:auto;
}

nav li:first-child a {
   color:red;
}